# coding: utf-8

"""
    ACBr API

    API para automação comercial e documentos fiscais.    **Autenticação**  Esta API usa OAuth 2.0 no fluxo `client_credentials`.    **Ambientes disponíveis**  - Produção: `https://prod.acbr.api.br`  - Homologação: `https://hom.acbr.api.br`  - Autenticação para ambos os ambientes: `https://auth.acbr.api.br/realms/ACBrAPI/protocol/openid-connect/token`    **Endpoint para obter o token**  - `POST https://auth.acbr.api.br/realms/ACBrAPI/protocol/openid-connect/token`    **Content-Type**  - `application/x-www-form-urlencoded`    **Parâmetros do corpo**  - `grant_type=client_credentials`  - `client_id=SEU_CLIENT_ID`  - `client_secret=SEU_CLIENT_SECRET`  - `scope=empresa nfe nfse`    **Exemplo de corpo**  - `grant_type=client_credentials&client_id=SEU_CLIENT_ID&client_secret=SEU_CLIENT_SECRET&scope=empresa%20nfe`    **Uso do token nas requisições**  - `Authorization: Bearer SEU_ACCESS_TOKEN`  # noqa: E501

    The version of the OpenAPI document: 3.1.9
    Generated by: https://openapi-generator.tech
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from acbrapi_sdk.api_client import ApiClient
from acbrapi_sdk.exceptions import (  # noqa: F401
    ApiTypeError,
    ApiValueError
)


class CnpjApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def consultar_cnpj(self, cnpj, **kwargs):  # noqa: E501
        """Consultar dados do CNPJ  # noqa: E501

        **Informações adicionais**:  - Consumo: 0,1 unidade por requisição.  - Em sandbox, a consulta é permitida somente para os seguintes CNPJ:    `18760540000139`    `00038166000105`    `00394460000141`    `29979036000140`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.consultar_cnpj(cnpj, async_req=True)
        >>> result = thread.get()

        :param cnpj: CNPJ sem máscara. (required)
        :type cnpj: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :type _preload_content: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: CnpjEmpresa
        """
        kwargs['_return_http_data_only'] = True
        return self.consultar_cnpj_with_http_info(cnpj, **kwargs)  # noqa: E501

    def consultar_cnpj_with_http_info(self, cnpj, **kwargs):  # noqa: E501
        """Consultar dados do CNPJ  # noqa: E501

        **Informações adicionais**:  - Consumo: 0,1 unidade por requisição.  - Em sandbox, a consulta é permitida somente para os seguintes CNPJ:    `18760540000139`    `00038166000105`    `00394460000141`    `29979036000140`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.consultar_cnpj_with_http_info(cnpj, async_req=True)
        >>> result = thread.get()

        :param cnpj: CNPJ sem máscara. (required)
        :type cnpj: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _return_http_data_only: response data without head status code
                                       and headers
        :type _return_http_data_only: bool, optional
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :type _preload_content: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(CnpjEmpresa, status_code(int), headers(HTTPHeaderDict))
        """

        local_var_params = locals()

        all_params = [
            'cnpj'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method consultar_cnpj" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'cnpj' is set
        if self.api_client.client_side_validation and local_var_params.get('cnpj') is None:  # noqa: E501
            raise ApiValueError("Missing the required parameter `cnpj` when calling `consultar_cnpj`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'cnpj' in local_var_params:
            path_params['Cnpj'] = local_var_params['cnpj']  # noqa: E501

        query_params = []

        header_params = dict(local_var_params.get('_headers', {}))

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2']  # noqa: E501

        response_types_map = {
            200: "CnpjEmpresa",
        }

        return self.api_client.call_api(
            '/cnpj/{Cnpj}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_types_map=response_types_map,
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats,
            _request_auth=local_var_params.get('_request_auth'))

    def listar_cnpj(self, cnae_principal, municipio, natureza_juridica, **kwargs):  # noqa: E501
        """Listar estabelecimentos ativos a partir da base de CNPJ  # noqa: E501

        Retorna uma lista de estabelecimentos de acordo com os critérios de busca utilizados.  Somente serão retornados estabelecimentos com situação cadastral \"Ativa\".    **Informações adicionais**:  - Consumo: 0,1 unidade por estabelecimento listado ou requisição.  - Em sandbox, a consulta de listagem de CNPJ não é permitida.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.listar_cnpj(cnae_principal, municipio, natureza_juridica, async_req=True)
        >>> result = thread.get()

        :param cnae_principal: Filtro pelo código CNAE da atividade principal do estabelecimento.  Utilize o valor sem máscara. (required)
        :type cnae_principal: str
        :param municipio: Filtro pelo código IBGE ou TOM (Tabela de Órgãos e Municípios) do município do estabelecimento.  Utilize o valor sem máscara. (required)
        :type municipio: str
        :param natureza_juridica: Filtro pela natureza jurídica do estabelecimento   Utilize o valor de quatro dígitos sem máscara. (required)
        :type natureza_juridica: str
        :param top: Limite no número de objetos a serem retornados pela API, entre 1 e 100.
        :type top: int
        :param skip: Quantidade de objetos que serão ignorados antes da lista começar a ser retornada.
        :type skip: int
        :param inlinecount: Inclui no JSON de resposta, na propriedade `@count`, o número total de registros que o filtro retornaria, independente dos filtros de paginação.
        :type inlinecount: bool
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :type _preload_content: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: CnpjListagem
        """
        kwargs['_return_http_data_only'] = True
        return self.listar_cnpj_with_http_info(cnae_principal, municipio, natureza_juridica, **kwargs)  # noqa: E501

    def listar_cnpj_with_http_info(self, cnae_principal, municipio, natureza_juridica, **kwargs):  # noqa: E501
        """Listar estabelecimentos ativos a partir da base de CNPJ  # noqa: E501

        Retorna uma lista de estabelecimentos de acordo com os critérios de busca utilizados.  Somente serão retornados estabelecimentos com situação cadastral \"Ativa\".    **Informações adicionais**:  - Consumo: 0,1 unidade por estabelecimento listado ou requisição.  - Em sandbox, a consulta de listagem de CNPJ não é permitida.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.listar_cnpj_with_http_info(cnae_principal, municipio, natureza_juridica, async_req=True)
        >>> result = thread.get()

        :param cnae_principal: Filtro pelo código CNAE da atividade principal do estabelecimento.  Utilize o valor sem máscara. (required)
        :type cnae_principal: str
        :param municipio: Filtro pelo código IBGE ou TOM (Tabela de Órgãos e Municípios) do município do estabelecimento.  Utilize o valor sem máscara. (required)
        :type municipio: str
        :param natureza_juridica: Filtro pela natureza jurídica do estabelecimento   Utilize o valor de quatro dígitos sem máscara. (required)
        :type natureza_juridica: str
        :param top: Limite no número de objetos a serem retornados pela API, entre 1 e 100.
        :type top: int
        :param skip: Quantidade de objetos que serão ignorados antes da lista começar a ser retornada.
        :type skip: int
        :param inlinecount: Inclui no JSON de resposta, na propriedade `@count`, o número total de registros que o filtro retornaria, independente dos filtros de paginação.
        :type inlinecount: bool
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _return_http_data_only: response data without head status code
                                       and headers
        :type _return_http_data_only: bool, optional
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :type _preload_content: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(CnpjListagem, status_code(int), headers(HTTPHeaderDict))
        """

        local_var_params = locals()

        all_params = [
            'cnae_principal',
            'municipio',
            'natureza_juridica',
            'top',
            'skip',
            'inlinecount'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method listar_cnpj" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'cnae_principal' is set
        if self.api_client.client_side_validation and local_var_params.get('cnae_principal') is None:  # noqa: E501
            raise ApiValueError("Missing the required parameter `cnae_principal` when calling `listar_cnpj`")  # noqa: E501
        # verify the required parameter 'municipio' is set
        if self.api_client.client_side_validation and local_var_params.get('municipio') is None:  # noqa: E501
            raise ApiValueError("Missing the required parameter `municipio` when calling `listar_cnpj`")  # noqa: E501
        # verify the required parameter 'natureza_juridica' is set
        if self.api_client.client_side_validation and local_var_params.get('natureza_juridica') is None:  # noqa: E501
            raise ApiValueError("Missing the required parameter `natureza_juridica` when calling `listar_cnpj`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if local_var_params.get('top') is not None:  # noqa: E501
            query_params.append(('$top', local_var_params['top']))  # noqa: E501
        if local_var_params.get('skip') is not None:  # noqa: E501
            query_params.append(('$skip', local_var_params['skip']))  # noqa: E501
        if local_var_params.get('inlinecount') is not None:  # noqa: E501
            query_params.append(('$inlinecount', local_var_params['inlinecount']))  # noqa: E501
        if local_var_params.get('cnae_principal') is not None:  # noqa: E501
            query_params.append(('cnae_principal', local_var_params['cnae_principal']))  # noqa: E501
        if local_var_params.get('municipio') is not None:  # noqa: E501
            query_params.append(('municipio', local_var_params['municipio']))  # noqa: E501
        if local_var_params.get('natureza_juridica') is not None:  # noqa: E501
            query_params.append(('natureza_juridica', local_var_params['natureza_juridica']))  # noqa: E501

        header_params = dict(local_var_params.get('_headers', {}))

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2']  # noqa: E501

        response_types_map = {
            200: "CnpjListagem",
        }

        return self.api_client.call_api(
            '/cnpj', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_types_map=response_types_map,
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats,
            _request_auth=local_var_params.get('_request_auth'))
